<div>
    <h1>Login</h1>
</div>
<form [formGroup]="loginForm" (ngSubmit)="loginUser(myForm)" name="loginForm" #myForm="ngForm">
    <input type="text" name="name" [formControl]="name" placeholder=" enter username">
    <input type="password" name="password" [formControl]="password" placeholder="enter password">
    <input type="submit" value="Login">
</form>

<!-- we need a button to route to the register and vice versa. - calvin -->
<!-- Register new user -->
<br>
<nav>
    <a routerLink="/register">Don't have an account?</a>
</nav>